html {
    font-size: 10px;
    font-family: sans-serif /*No need for quotations since its a generic family name*/
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

h1 {
    font-family: 'billabong';
    text-align: center;
    font-size: 13rem; /* Each Rem is 10 pixels?*/
    font-weight: 100;
    margin: 2rem 0; /*vertical horizatonal*/
    letter-spacing: -1px; /* makes them coloser toether if negative */
    color: black;
}

/*This font-face will allow us to grab fonts from online source*/
@font-face {
    font-family: 'billabong';
    src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix") format('embedded-opentype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff") format('woff'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf") format('truetype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular") format('svg');
}

/* . This is class selector, you can apply this to other divs n stuff  (refernced with className in the object)*/

.photoGrid { /*Prefix with . is class selector */
    max-width: 1000px;
    margin: 0 auto;  /*vertical horizatonal (auto means both less and right margins are equal)*/
    display: flex; /* makes them flex items (default alignment is rows) */
    flex-wrap: wrap;
}

.figure {
    flex-basis: calc(33.33% - 4 rem); /*specify the inital width of inital item, roughly 33% of inital width*/
    border: 1px solid #d3d3d3;
    padding: 2rem;
    flex-grow: 1; /*all elements of same row will share same width*/
    margin: 0 2rem 2rem 2rem; /*top right bottom left*/
}

.photo {
    width:calc(100% + 4rem);  /* 100% of the "figures width aka within boundaries" */
    margin: -2rem 0rem 0rem -2rem;
}

.button-container {
    display: flex;
    justify-content: center; /*Only works with flex  containers*/
}

.remove-button {
    flex-basis: 48; /*inital width of 48% of the container*/
    color: red;
    font-size: 15px;
    border: 2px solid #f2f2f2; /*thick typeOfBorder color of border*/
    line-height: 2;
    padding: 5px;
}